fastapi==0.110.0
uvicorn==0.29.0
pydantic
sqlalchemy==2.0.29
pydantic-settings>=2.0.0
psycopg2-binary==2.9.9 # Untuk PostgreSQL, ganti jika menggunakan DB lain
python-dotenv==1.0.1
# ollama
langchain>=0.2.0
langchain-community>=0.2.0
langchain-google-genai>=1.0.6
langgraph
python-multipart
